
<section class="hero">

	<div class="hero-title">
		<svg class="hero-icon" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 485 485" xml:space="preserve"><path d="M257.5 217.1V0H104.5v131.3H227.5v85.8L0 462.9V485h485v-22.1L257.5 217.1zM314.9 323.3l-24.9 18 -47.5-34.2 -47.5 34.2 -24.9-18 72.4-78.2L314.9 323.3zM134.5 101.3V30h93v71.3H134.5zM48.2 455l101.3-109.5 45.5 32.8 47.5-34.2 47.5 34.2 45.5-32.8L436.8 455H48.2z" fill="#3f3f3f"/></svg>
		<h1 class="hero-header">Achievos</h1>
	</div>

	<div class="hero-content">

		<div class="prompt prompt--install">
			<p>Get achievements for discovering websites.</p>
			<button id="add-to-chrome" class="button">Add to Chrome</button>
		</div>

		<form id="form--not-chrome" class="prompt prompt--not-chrome">
			<p>Get achievements for discovering websites.</p>
			<p>Visit this site in Chrome desktop to install the extension. Or check your progress:</p>
			<label for="not-chrome-email" class="visuallyhidden">Check your progress:</label>
			<input id="not-chrome-email" name="not-chrome-email" type="email" placeholder="Enter your email address">
		</form>

		<form id="form--set-user" class="prompt prompt--set-user form">
			<label for="email">Cool biscuits. Achievos is installed. If you set an email address you can track your progress on this site.</label>
			<input id="email" name="email" type="email" placeholder="Enter your email address">
		</form>

		<p id="you"></p>



	</div>

	<div id="progress" class="progress"></div>

</section>
