<!doctype html>
<html lang="en" class="achievos-installed--false">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Get achievements for discovering websites - Achievos</title>
    <meta name="description" content="Get achievements for discovering websites - Achievos">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

	<link rel="chrome-webstore-item"
	    href="https://chrome.google.com/webstore/detail/apdfllckaahabafndbhieahigkjlhalf">


      <% if (env.production) { %>
        <link rel="stylesheet" href="/build/styles.min.css">
      <% } else { %>
        <link rel="stylesheet" href="/build/styles.css">
      <% } %>

  </head>

  <body>

    <%- include header.ejs %>

    <%- body %>

    <% if (env.production) { %>
      <script async src="<%= env.assets.bundle.js %>"></script>
    <% } else { %>
      <script src="/build/bundle.js"></script>
    <% } %>

  </body>
</html>
