
button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    padding: 0;
}


.button {
    color: $grey-light;
	background-color: $grey-dark;
    padding: 0px $input-padding;
    text-decoration: none;
    user-select: none;
	min-height: $input-height;
    vertical-align: middle;
    white-space: nowrap;
	float: left;
    min-width: 120px;
    text-align: center;
    transition: background-color $timing*2 cubic-bezier(0.25,0.46,0.45,0.94), transform $timing/3 ease;
    will-change: background-color, transform;

    &:disabled,
    .disabled {
        opacity: 0.5;
        cursor: default;
    }

    &:focus {
        outline: 0;
    }

	&:hover,
	&:focus {
		background-color: #2CD892;
		animation: hue 5s infinite linear;
	}

	&:active {
		transform: scale(0.96);
	}


}



.button-inline {
    @include anchor('regular');
}
