@import 'https://fonts.googleapis.com/css?family=Rasa:500|Secular+One';


::-moz-selection {
  background-color: $grey-medium;
  color: $grey-dark;
  text-shadow: none;
}


::selection {
  background-color: $grey-medium;
  color: $grey-dark;
  text-shadow: none;
}


html {
	font-family: 'Rasa', serif;
	font-size: 5.5vmin;
}

body {
  color: $grey-dark;
  line-height: 2.5;
  letter-spacing: -0.2px;
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  transition: all $timing/2 linear;
  will-change: color, opacity;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }

}

p {
	padding: 0 0 $base-spacing;// * 1.5;
	margin: 0;
    line-height: 1.75;
	hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
}


@media (min-width: $screen-md) {
	html {
		font-size: 4vmin;
	}

}

@media (min-width: $screen-lg) {


}
