$padding-sm: 4vmin;
$padding-lg: 2.5vmin;


.hero {
	padding: $padding-sm 10%;
	display: flex;
	flex-direction: column;
	position: relative;

	&::after {
		content: '';
		position: fixed;
		background-color: $grey-light;
		height: 82vh;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -10;
		border: $padding-sm solid #fff;
		will-change: transform;
	}
}

.hero-title {
	max-width: 50vmin;
}

.hero-icon {
	flex-shrink: 0;
}

.hero-header {
	margin: 0;
	padding: 0;
	font-weight: normal;
	//hyphens: auto;
	font-family: 'Secular One', sans-serif;
	font-feature-settings: 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
	font-size: 29.25px;
	font-size: 11.75vmin;
	letter-spacing: 0;
}
.hero-content {
	margin-top: -3.5vmin;
	max-width: 860px;
}

.completed {
	color: #2CD892;
	animation: hue 5s infinite linear;

	.progress--points::after {
		color: inherit;
	}
}

.progress--points {
	position: absolute;

	&::after {
		content: 'pts';
		font-size: 0.5em;
		color: $grey-medium;
	}
}

.progress--title-wrap {
	position: relative;
	left: 3em;
}

.progress--url {
	display: block;
	font-size: 0.75em;
	margin-top: -1.5em;
}

.progress--result {
	font-weight: bold;
}

// @media (min-width: $screen-md) {
// 	.hero {
// 		//padding: $padding-lg 15%;
// 		//max-width: 800px;
// 	}
// }


.intro-span {
	display: block;
}

@media (min-width: $screen-lg) {

	.hero {
		padding: $padding-lg 15%;
	    margin: 0 auto;

		&::after {
			border: $padding-lg solid #fff;

		}
	}
	.hero-title {
		max-width: 40vmin;
	    padding-top: $padding-lg;
	}
	.hero-header {
		margin: -0.5em 0 0.2em;
	    font-size: 9.35vmin;
	}

}
