// Site width
$max-width: 1200px;
$content-width: 1000px;

// Base font sizes
$base-font-sm: 18px;
$base-font-md: 18px;
$base-font-lg: 20px;


$input-height: 50px;
$input-padding: 20px;

// Grey shades
$white: #fff;
$grey-light: #efeee7;
$grey-medium: #d7d6cf;
$grey-dark: #3f3f3f;
$black: #000;



// Breakpoints
$screen-sm: 544px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;


// transitions
$timing: 300ms;
$easeInOutCubic: cubic-bezier(0.65, 0.05, 0.14, 1);
$easeInOutCubicBounce: cubic-bezier(0.65, 0.05, 0.14, 1.6);


// spacing and margins
$base-spacing: 30px;

// work on these
$margin-sm: $base-spacing;
$margin-md: $base-spacing * 2;
$margin-lg: $base-spacing * 3;
//$margin-xl: $base-spacing * 3.5;
