.main {
    padding-bottom: 1rem;
}

.button {
    color: #fff;
    background-color: #3f3f3f;
    padding: 0 1rem;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    line-height: 2.5;
    transition: opacity 300ms cubic-bezier(.25,.46,.45,.94), transform 75ms cubic-bezier(.25,.46,.45,.94);
    will-change: opacity, transform;
}

.button:hover,
.button:focus {
    opacity: 0.85;
    outline: 0;
}

.button:active {
    transform: scale(0.96);
}

.buttonInline {
    color: #3f3f3f;
}

.buttonInline:hover,
.buttonInline:focus {
    text-decoration: underline;
    outline: 0;
}

.title {
    padding: 0;
    font-weight: 400;
    font-family: 'Secular One', sans-serif;
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    font-size: 11.75vmin;
    letter-spacing: 0;
    margin: 0 0 0.5rem;
}

.plaque {
    padding: 0.5rem 0;
    margin: 0 auto;
    line-height: initial;
}

.logo {
    max-width: 50vmin;
    display: block;
    margin: 0 auto 0.75rem;
}

.intro {
    padding-bottom: 1rem;
}

.byline {
    color: #3f3f3f;
    font-family: 'Rasa', serif;
}

.content {
    padding: 0 1rem;
}

@media (min-width: 960px) {
    .main {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }

    .plaque {
        padding: 1.25rem 0 0;
    }

    .plaqueInner {
        position: fixed;
        margin-left: -6.5rem;
        max-width: 360px;
    }

    .title {
        font-size: 2.6rem;
    }

    .logo {
        margin-bottom: 1rem;
    }

    .content {
        width: 50%;
        padding: 1rem;
        padding-right: 3rem;
    }
}
