.load-timeout {
	.hero-content {
		opacity: 1;
		visibility: visible;
	}
}


.hero-content {
	position: relative;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms;
}

.prompt {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: all $timing ease;
}

//
// html:not(.achievos-installed) {
// 	.prompt--install {
// 		opacity: 1;
// 		visibility: visible;
// 	}
// }


.not-chrome {
	.prompt--not-chrome {
		opacity: 1;
		visibility: visible;
	}
}

.user-set--false {
	.prompt--set-user {
		opacity: 1;
		visibility: visible;
	}
	// .prompt--progress {
	// 	opacity: 0;
	// 	visibility: hidden;
	// }
}

.user-set--true {
	.prompt--progress {
		opacity: 1;
		visibility: visible;
	}
}



.achievos-installed--true {

}

.achievos-installed--false {

	.prompt--install {
		opacity: 1;
		visibility: visible;
	}

	//.prompt--progress,
	.prompt--set-user {
		opacity: 0;
		visibility: hidden;
	}
}
